<div class="container">
  <h1>Simple Project Using ChatGPT</h1>
  <h2>Made By Mark Kim</h2>
  <div class="form">
    <label for="sentence-input">Enter Sentence:</label>
    <textarea
      [(ngModel)]="requestSentence"
      type="text"
      id="sentence-input"
      placeholder="Enter your sentence here"
    >
    </textarea>
    <div>
      <button (click)="requestToChatGpt('question')">
        Ask a question to chatGPT
      </button>
      <button (click)="requestToChatGpt('summarize')">
        Sentence summarize
      </button>
      <button (click)="requestToChatGpt('translate')">
        Sentence translate / En ▶️ Ko
      </button>
    </div>
    <div *ngIf="isLoading">
      <div class="spinner"></div>
    </div>
  </div>
  <div class="result">
    <label for="sentence-input">result:</label>
    <div class="sentence-output">
      <p>{{ responseFromChatGpt }}</p>
    </div>
  </div>
</div>
